/*Formatting Popup comment box */

#responseBox {
  display: none;
  border: 1px solid
  border-radius: 0.5em;
  /* Make it stuck to bottom right*/
  position: fixed; 
  bottom: 20px;
  right: 20px;
  z-index: 101;
}

#containerES {
  margin: 0 auto;
  width: 100%;
  background: #444753;
  border-radius: 5px;
}

#commentWording {
  padding: 20px;
  float: left;
  background: #ccebff;
  border-radius: 15px;
  color: #434651;
  margin: 5px;
  box-shadow: 5px 5px 20px grey;
  max-width: 800px;

}

#commentWording .QuestionBody {
  width: auto;
}

#commentWording .SingleAnswer,
#commentWording .MultipleAnswer {
  padding: 0 0 0 20px;
}

#commentWording .LabelWrapper {
  margin-bottom: 5px;
}

#commentWording .checkbox,
#commentWording input[type="radio"] {
  margin: 0;
}

/*Close buttons */
a.closeES {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
a.closeES:hover {
  color: #fff;
}

/* Open button */
#comment-button{
  position:absolute;
  bottom:0;
  right:0;
  cursor: pointer;
}

#SubmitButtonES input[type="button"], button{
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
}
#SubmitButtonES input[type="button"]:hover, button:hover{
  background-color: #3faeec;
  color: #fff;
}

#SubmitButtonES input[type="button"], button{
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
}

#comment-button:hover {
  background-color: #d7e9f4;
}

/* Make extra padding for open button so not cut off */
.Skin div#Buttons {
  padding-top: 60px;
}

/* Make first div have lots of padding, so not visible when javascript is loading */
#commentBoxES {
  padding-top: 600px;
}